body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: -moz-linear-gradient(bottom left, teal, steelblue, royalblue);
  background: -o-linear-gradient(bottom left, teal, steelblue, royalblue);
  background: -webkit-linear-gradient(left bottom, teal, steelblue, royalblue);
  background: linear-gradient(to bottom left, teal, steelblue, royalblue);
  background-size: cover;
  color: white;
}

#searchForm{
  padding: 20px;
  position: absolute;
  top: 25%;
  left: 25%;
  -moz-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

#searchForm.searchFormShow {
  top: -2%;
  left: -1%
}

.inputContainer{
  display: inline-block;
}

.inputForm{
  width: 300%;
  padding: 12px;
  margin-bottom: 5px;
  border: 0.5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 3px 3px 10px black;
  font-size: 16px;
  -o-transition: all linear 0.35s;
  -moz-transition: all linear 0.35s;
  -webkit-transition: all linear 0.35s;
  transition: all linear 0.35s;
}

.inputFormShow{
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 0.5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 3px 3px 10px black;
  font-size: 16px;
}

.inputForm:focus{
  text-indent: 25px;
  background-image: url("https://image.flaticon.com/icons/svg/60/60758.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px; 
}

.angleRight{
  padding-left: 12px;
  padding-top: 12px;
  position: absolute;
  font-size: 20px;
  color: gray;
}

.searchButton{
  position: absolute;
  top: 30%;
  right: -137%;
  background-color: white;
  font-size: 20px;
  border: none;
  color: black;
  padding: 0;
}

.searchButtonShow{
  position: absolute;
  top: 30%;
  right: 25%;
  background-color: white;
  font-size: 15px;
  border: none;
  color: black;
  padding: 0;
}

.randomButton{
  position: absolute;
  top: 32%;
  right: -151%;
  background-color: white;
  border: none;
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 0;
}

.randomButtonShow{
  position: absolute;
  top: 32%;
  right: 14%;
  background-color: white;
  border: none;
  font-size: 15px;
  text-decoration: none;
  color: black;
  padding: 0;
}

.randomButton a {
  color: black;
  text-decoration: none;
}

.randomButtonShow a {
  color: black;
  text-decoration: none;
}

/*RESULTS*/

.wikiContainer{
  margin: 50px 0;
  padding: 0 100px;
}